@import "tailwindcss"; 

:root{
    --primary-color:#22254b;
    --secondary-color: #373b69
}
body{
    background-color: var(--primary-color);
}
header{
    background-color: var(--secondary-color);
}
input{
    border-color: var(--primary-color);
}
.movie-info{
    background-color: var(--secondary-color);
    max-height: max-content;
}
span{
    background-color: var(--primary-color);
}
.movie-info span.green{
    color:lightgreen;
}
.movie-info span.red{
    color: red;
}
.movie-info span.orange{
    color: orange;
}
.movie:hover .overview{
    transform: translateY(0);
}
.movie{
    height: 536px;
    width: 300px;
}
.movie-img{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.movie-img img{
   height:100%;
   width: 100%;
 /* object-fit: contain; */
}
.overview{
    transition: transform 0.3s ease-in;
}
.overview{
    transform: translateY(100%);

}